* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    background: linear-gradient(135deg, #044a07 0%, #7e621c 100%);;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

@font-face {
    font-family: 'Norse-bold';
    src: url('/Norse-Bold.otf');
  }

a:link {
    color: white;
}

a:visited {
    color: rgb(6, 167, 6);
}

.left-img {
    position: relative;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.left-img img {
    width: 140%;
    height: 100%;
}

.heading-img {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    top: 20vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-img div {
    font-size: 5vw;
    font-family: Norse-Bold;
}

.heading-img img {
    width: 15%;
}

.reference-img {
    position: absolute;
    text-align: center;
    bottom: 2vh;
    color: white;
}

.form-container {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
}


.description-sign-up {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem 3rem;
}

.description-sign-up p {
    padding: 0.5rem;
}

.sign-up {
    background-color: rgb(46, 94, 24);
    height: 30%;
    padding: 1.5rem 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.sign-up > div {
    font-size: 1.25rem; 
}

form {
    display: flex;
    flex-wrap: wrap;

}

form div {
    height: 1rem;
    width: 40%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 10px;
}
input:focus {
    border-radius: 10px;
    outline: blue !important;
    box-shadow: 0 0 10px #719ECE;
}





.validation-form {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding: 1.5rem 3rem;
}

.validation-form button {
    background-color: black;
    font-weight: 700;
    color: white;
    width: 20%;
    height: 20%;
    border-radius: 0.3rem;
}

.validation-form p {
    padding-top: 1.5rem;
}